.lineItem{
    width:100%;
    border-bottom:1px solid;
    padding-bottom:10px;
}
#topLines #bottomLines{
    
}
#bottomLines:nth-child(even){
    background-color: rgb(255, 222, 161);
}
#bottomLines:nth-child(odd){
    background-color: rgb(255, 250, 238);
}
.lineItemIcon{
    grid-area:lineItemIcon;
    height:50px;
    width:50px;
}
.lineItemName{
    grid-area:lineItemName;
}
.lineItemBuys{
    grid-area:lineItemBuys;
}
.lineItemSells{
    grid-area:lineItemSells;
}
.lineItemProfit{
    grid-area: lineItemProfit;
}
.lineItem{
    display:grid;
    grid-gap:0 2%;
    grid-template-columns: 75px [col-start] repeat(4,20% [col-start]);
    grid-template-rows:50px; 
    grid-template-areas: "lineItemIcon lineItemName lineItemBuys lineItemSells lineItemProfit"
}
.lineItemHeader{
    background-color: rgb(255, 250, 238);
}
.currency{
    height:16px;
    width:16px;
}
/* The Modal (background) */
.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 9; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 1% auto; /* 15% from the top and centered */
    /* border: 1px solid #888; */
    width: 80%; /* Could be more or less, depending on screen size */
    height:90%;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-iframe{
      width:100%;
      height:100%;
      z-index: 10;
  }
  #header{
      width:100%;
      height:100px;
      position: fixed;
      background-color: aqua;
  }